.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.25em;

  padding-left: 1em;
  padding-top:  1em;
}

h3 {
  margin: 0em;
}

h3.inactive {
  margin: 0em;
  color: #AAA;
}

a {
  text-decoration: none;
  color: #00D;
}

a:visited {
  color: #00D;
}

a.external {
  color: #FBB;
  text-decoration: underline;
}

a:hover {
  color: #6AF;
}

a.external:hover {
  color: #F88;
}

pre {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 2em;
}
